<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/skills.css">
		<title>Skills</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header" class="centre">
				<img id="avatar-top" class="avatar anim-squish" src="/image/avatar/11.png" draggable="false" />
				<h1>Skills</h1>
			</div>
			<div class="centre">
				<h2>Programming Languages</h2>
				<p>
					I have knowledge of many programming languages, but these are the ones I am most confident using.
					<br>
					<a href="/content/contact.html">Ask me</a> about other languages.
				</p>
			</div>
			<div class="flex">
				<div class="record centre"><code>Rust</code></div>
				<div class="record centre"><code>Python</code></div>
				<div class="record centre"><code>Ruby</code></div>
				<div class="record centre"><code>JavaScript</code></div>
				<div class="record centre"><code>GameMaker Language</code></div>
				<div class="record centre"><code>C</code></div>
				<div class="record centre"><code>Go</code></div>
				<div class="record centre"><code>Java</code></div>
				<div class="record centre"><code>Haskell</code></div>
				<div class="record centre"><code>Visual Basic .NET</code></div>
			</div>
			<div class="centre">
				<h2>Experience and Interests</h2>
				<p>Topics I have experience in.</p>
			</div>
			<div class="flex">
				<div class="record centre"><code>Mathematics and Theory</code></div>
				<div class="record centre"><code>Programming Language Design</code></div>
				<div class="record centre"><code>Compilers and Virtual Machines</code></div>
				<div class="record centre"><code>Network Programming</code></div>
				<div class="record centre"><code>Research</code></div>
				<div class="record centre"><code>Inverse Kinematics</code></div>
				<div class="record centre"><code>Skeletal Animation</code></div>
				<div class="record centre"><code>Graphics Programming</code></div>
				<div class="record centre"><code>Optimisation</code></div>
				<div class="record centre"><code>Artificial Intelligence</code></div>
				<div class="record centre"><code>Path Finding</code></div>
				<div class="record centre"><code>Physics Engines</code></div>
				<div class="record centre"><code>Tool Development</code></div>
				<div class="record centre"><code>Art</code></div>
				<div class="record centre"><code>Technical Art</code></div>
				<div class="record centre"><code>Source Control</code></div>
				<div class="record centre"><code>Computer Vision</code></div>
				<div class="record centre"><code>Game Development</code></div>
				<div class="record centre"><code>Web Development</code></div>
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html>
