<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/skills.css">
		<title>Skills</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header" class="centre">
				<img id="avatar-top" class="avatar anim-squish" src="/image/avatar/11.png" draggable="false" />
				<h1>Skills</h1>
			</div>
			<div class="centre">
				<h2>Programming Languages</h2>
				<p>
					I have knowledge of many programming languages, but these are the ones I am most confident using.
					<br>
					<a href="/content/contact.html">Ask me</a> about other languages.
				</p>
			</div>
			<%= render_items(skills_info["languages"]) %>
			<div class="centre">
				<h2>Experience and Interests</h2>
				<p>Topics I have experience in.</p>
			</div>
			<%= render_items(skills_info["skills"]) %>
			<div id="footer"></div>
		</div>
	</body>
</html>
