body {
	height : 100vh;
}

#avatar-top {
	width : 6em;
}

.flex {
	align-items : center;
}

.work {
	--scale : 10em;
	margin : 0.5em 0.5em;
	display : inline-block;
	height : var(--scale);
	width : var(--scale);
	max-width : 50vw;
	max-height : 50vw;
	background-color : var(--colour-light-2);
	border-radius : 0.5em;
	overflow : hidden;
}

.work div {
	transition : all 0.5s;
	width : 100%;
	height : 100%;
	background-image : var(--img);
	background-position : center;
	background-size : cover;
	--angle : 0deg;
}

.work:hover div,
.work:focus div {
	transform : scale(1.2) rotate(var(--angle));
}
