body {
	height : 100vh;
}

#avatar-top {
	width : 6em;
}

.work {
	display : inline-block;
	width : 10em;
	height : 10em;
}

.work div {
	width : 100%;
	height : 100%;
	background-color : var(--background-2);
	background-image : var(--img);
	background-position : center;
	background-size : cover;
}

.work:hover div,
.work:focus div {
	transform : scale(1.2);
}
