<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<meta name="description" content="<%= info.key?("desc") ? info["desc"] : "A really cool blog post." %>">
		<link rel="stylesheet" href="/style/post.css">
		<title><%= info["title"] %></title>
	</head>
	<body>
		<%= $homepage %>
		<div id="index" class="sidebar">
			<div>
				<b>Contents</b>
				<% if tldr != nil %>
					<i>(<a href="/content/blog/tldr/<%= id -%>.html">TL;DR</a>)</i>
				<% end %>
			</div>
			<div class="h1"><a href="#"><%= info["title"] %></a></div>
			<% index.each do |x| %>
				<div class="<%= header_tag_md_to_html(x[0]) %>"><b>NΞ</b> <a href="#<%= convert_id(x[1]) -%>"><%= x[1] %></a></div>
			<% end %>
		</div>
		<div id="content">
			<div id="header">
				<h1><%= info["title"] %></h1>
				<% if info.key?("date") %>
					<span class="date"><%= render_date(info["date"]) %></span>
				<% end %>
			</div>
			<div class="justify">
				<% if info.key?("desc") %>
					<p><%= info["desc"] %></p>
				<% end %>
				<hr>
				<%= content %>
			</div>
			<div id="footer">
				<div class="centre">
					<b>Thank you for reading!</b>
					<br>
					<code>(.@ w @.) b</code>
				</div>
			</div>
		</div>
	</body>
</html>
