<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/blog.css">
		<title>Katblog</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header">
				<img id="avatar-top" class="avatar anim-squish" src="/image/mini.png" draggable="false" />
				<h1>All Posts</h1>
			</div>
			<table class="post">
				<tr>
					<td class="date">dd-mm-yyyy</td>
					<td>title</td>
				</tr>
				<% posts.each do |x| %>
					<% if x.key?("date") %>
						<% title = x["title"] %>
						<% short_title = x.key?("short-title") ? x["short-title"] : title %>
						<tr>
							<td class="date"><%= render_date_mono(x["date"]) %></td>
							<td><a href="/content/blog/post/<%= convert_id(short_title) -%>.html" <% if x.key?("desc") -%>title="<%= short_title %> -- <%= x["desc"] -%>"<% end -%>><%= title %></a></td>
						</tr>
					<% end %>
				<% end %>
			</table>
			<div id="footer"></div>
		</div>
	</body>
</html>
