<% list.each do |x| %>
	<% name = x["name"] %>
	<% alias_ = x.key?("alias") ? x["alias"] : name %>
	<% id = convert_id(alias_) %>
	<div class="collapsible">
		<input id="<%= id %>" class="toggle" type="checkbox">
		<label for="<%= id %>">
			<% if x.key?("website") %>
				<% if x["website"] == nil %>
					<%= stringify(name) %>
				<% else %>
					<a href="<%= x["website"] %>" target="_blank"><%= stringify(name) %></a>
				<% end %>
			<% else %>
				<a href="<%= $urls["github"] %>/<%= alias_ %>" target="_blank"><%= stringify(name) %></a>
			<% end %>
			<% if x.key? "begin" or x.key? "end" %>
				(<% if x.key?("begin") %><%= x["begin"] %>-<% end %><%= x.key?("end") ? x["end"] : "present" %>)
			<% end %>
			<% if x.key? "roles" %>
				:: <%= x["roles"].join(", ") %>
			<% else %>
				:: Development
			<% end %>
			<% if x.key? "languages" %>
				<div class="right">
					<% langs = x["languages"] %>
					<% limit = langs.length - 1 %>
					{<% langs.each_with_index do |lang, i| %>
						<span lang="<%= lang.downcase %>"><%= stringify(lang) %></span><% if i != limit %>,<% end %>
					<% end %>}
				</div>
			<% end %>
		</label>
		<div class="collapsible-content">
			<div class="justify">
				<%= render_project_page(id) %>
			</div>
		</div>
	</div>
<% end %>
