<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/works.css">
		<title>Works</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header" class="centre">
				<h1>Works</h1>
			</div>
			<div class="centre">
				<h2 id="artwork">Artwork</h2>
				<p>Artworks using Photoshop and Microsoft Paint.</p>
			</div>
			<%= render_items(works_info) %>
			<div class="centre">
				<h2 id="music">Music</h2>
				<p>Music studies using <a href="https://milkytracker.org/" target="_blank">MilkyTracker</a>, <a href="https://studiopixel.sakura.ne.jp/pxtone/" target="_blank">PXTone</a>, and <a href="https://beepbox.co" target="_blank">BeepBox</a>.</p>
			</div>
			<div id="footer" class="centre">
				<img id="avatar-top" class="avatar anim-squish" src="/image/avatar/6.png" draggable="false" />
			</div>
		</div>
	</body>
</html>
