<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/works.css">
		<title>Works</title>
	</head>
	<body>
		<%= $homepage %>
		<div id="content">
			<div id="header" class="centre">
				<img id="avatar-top" class="avatar anim-squish" src="/image/avatar/6.png" draggable="false" />
				<h1>Works</h1>
			</div>
			<div class="centre">
				<h2>Artwork</h2>
				<p>Artworks made in art tools.</p>
			</div>
			<div class="flex">
				<div class="centre">
					<div class="work">
						<div style="--img : url('/image/avatar/3.png'); --angle : -5deg;"></div>
					</div>
				</div>
				<div class="centre">
					<div class="work">
						<div style="--img : url('/image/avatar/3.png'); --angle : -5deg;"></div>
					</div>
				</div>
				<div class="centre">
					<div class="work" style="--aspect : 0.5;">
						<div style="--img : url('/image/avatar/7.png'); --angle : 10deg;"></div>
					</div>
				</div>
				<div class="centre">
					<div class="work" style="--aspect : 0.75;">
						<div style="--img : url('/image/avatar/5.png');"></div>
					</div>
				</div>
			</div>
			<div class="centre">
				<h2>Music</h2>
				<p>Music made in music tools.</p>
			</div>
			<div id="footer"></div>
		</div>
	</body>
</html>
