<%= $header %>
<html <%= $lang %>>
	<head>
		<%= $meta %>
		<link rel="stylesheet" href="/style/index.css">
		<title>Katsaii</title>
	</head>
	<body>
		<div id="content" class="flex">
			<div class="box-a">
				<div class="centre">
					<img id="jumbo" class="avatar anim-squish" src="/image/logo.png" draggable="false" />
					<h2 id="title"></h2>
					<a href="/content/projects.html">Projects</a> <sub><a href="/content/works.html">Works</a></sub> | <a href="/content/blog/posts.html">Blog</a> | <a href="<%= $urls["github"] %>" target="_blank">GitHub</a> <sub><a href="<%= $urls["gist"] %>" target="_blank">Gist</a></sub> | <a href="/content/contact.html">Contact</a> <sub><a href="/content/skills.html">Skills</a></sub>
				</div>
				<div class="justify">
					<p>My name is Kat, but I mainly go by <b>katsaii</b> or <b>nuxii</b>. I'm a BSc Computer Science graduate and I work freelance as a game developer. I spend a lot of time working on personal projects and experiments; sometimes hosting their source code on my <a href="<%= $urls["github"] %>?tab=repositories" target="_blank">GitHub</a> page. Although I specialise as a systems programmer, I work hard to widen my horizons by learning many new computer science topics, and utilising a diverse range of programming languages.</p>
					<p>Additionally, I'm not <em>just</em> a programmer! I also enjoy drawing and creating music. Check my <a href="/content/works.html">works</a> page for a gallery and social links.</p>
				</div>
				<div class="centre">
					<button class="unstyled" onclick="enable_darkmode()">
						<img id="bulb" class="avatar" src="/image/bulb.png" draggable="false" />
					</button>
				</div>
			</div>
			<div class="box-b centre">
				<img id="avatar" class="avatar anim-tilt" src="/image/avatar/together.png" draggable="false" />
			</div>
		</div>
	</body>
</html>
